* {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

body,html {
	height: 100%;
}

body {
	width: 100%;
	overflow-x: hidden;	
}

#people {
    font-size: 42px;
    margin:0;
}

#title {
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-family: system-ui;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
	transition: background-image 1s;
}

.section {
    text-align:center;
  }

h1 {
    display: inline-block;
    color: white;
	margin-top: 25%;
}

.imgChange {
    height: 100%;
    position: relative;
    width: 5%;
    background: none;
    border: 0px solid white;
    color: white;
    font-size: 150%;
}

#buttonR {
	float: right;
}

#buttonL {
	float: left;
}

button:focus {
	outline:0;
}

#navBar {
    z-index:-1
   border-width: 2px;
   width: 100%;
   position: fixed;
   top: 0%;
}

.navParts {
    float: left;
    width: 16.6%;
    border-width: 1px solid #f2e3a6;
	background: rgb(243, 229, 171);
	color: white;
    margin: 0 auto;
}

.stat {
    text-align: left;
    margin-left: 30px;
    font-size: 55px;
}

#statHead {
    padding-bottom: 30px;
}

#socialMediaTab {
    margin-top: 30px;
    border-top-color: #1DA1F2;
    border-width: 3px;
    border-top-style: solid;
    border-bottom-color: #1DA1F2;
    border-bottom-style: solid;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

#twitterTag {
    padding-top: 25px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
    color: #1DA1F2;
}

#instagram {
    color: #d6249f;
}

#twitter {
    color: #1DA1F2
}

#facebook {
    color: blue;
}

.sociaIcon {
    padding: 5px;
}

#SociaRow {
    font-size: 200px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#missionStatement {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    background-color: blue;
    height: 20%;
}

.info {
	font-size: 200%;
	padding: 0% 1% 0% 1%;
}

.header {
    font-size: 1.3em;
    text-align: center;
    background-color: blue;
}

#peoples {
	width: 50%;
}

p {
    text-align: center;
    width: 100%;
}

#footer>* {
    display: inline-block;
    margin-right: 5%;
}

#footer>h3 {
    display: inline-block;
    margin-left: 27.7%;
}