body,html {
	height: 100%;
}

h1 {
	display: inline-block;
    color:violet;
	margin: 0 auto;
}

#socialMediaTab {
    margin-top:30px;
    border-top-color: #1DA1F2;
    border-width:3px;
    border-top-style: solid;
    border-bottom-color: #1DA1F2;
    border-bottom-style:solid;
    padding-bottom:50px;
    margin-bottom:30px;
}

#twitterTag {
    padding-top:25px;
    margin-bottom:0px;
    text-align: center;
    font-size:40px;
    color: #1DA1F2;
}


#instagram {
    color: #d6249f;
}


#twitter {
    color: #1DA1F2
}

#facebook {
    color: blue;
}
.sociaIcon {
    padding:5px;
}
#SociaRow {
    font-size:200px;
    justify-content:center;
    display:flex;
    flex-direction:row;
}
#title {
    padding-bottom:300px;
    border-width:2px;
    border-color:blue;
    border-style: solid;
    background-image: url('https://blog.ed.gov/files/2014/04/13556050275_1a21b594a8_b.jpg');
    height: 75%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-size: 2em;
	text-align: center;
}

#missionStatement {
    font-size:1.3em;
    font-weight: 600;
    text-align: center;
	background-color: blue;
	height: 20%;
}

.header {
    font-size: 1.3em;
	text-align: center;
	background-color: blue;
	
}

p {
	text-align: center;
	width: 100%;
}

#footer > * {
	display: inline-block;
	margin-right: 5%;
}

#footer > h3 {
	display: inline-block;
	margin-left: 27.7%;
}